<a href="https://colab.research.google.com/github/UtkalikaP/Iranian-Churn/blob/Master/Iranian_Churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import files
file1=files.upload()

Saving Telco-Customer-Churn.csv to Telco-Customer-Churn (2).csv

In [ ]:
df=pd.read_csv("/content/Telco-Customer-Churn.csv")

In [ ]:
df.shape

(7043, 21)

In [ ]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [ ]:
df.isna().sum().sum()

0

In [ ]:
df.head

<bound method NDFrame.head of       customerID  gender  SeniorCitizen Partner Dependents  tenure  \
0     7590-VHVEG  Female              0     Yes         No       1
1     5575-GNVDE    Male              0      No         No      34
2     3668-QPYBK    Male              0      No         No       2
3     7795-CFOCW    Male              0      No         No      45
4     9237-HQITU  Female              0      No         No       2
...          ...     ...            ...     ...        ...     ...
7038  6840-RESVB    Male              0     Yes        Yes      24
7039  2234-XADUH  Female              0     Yes        Yes      72
7040  4801-JZAZL  Female              0     Yes        Yes      11
7041  8361-LTMKD    Male              1     Yes         No       4
7042  3186-AJIEK    Male              0      No         No      66

     PhoneService     MultipleLines InternetService OnlineSecurity  ...  \
0              No  No phone service             DSL             No  ...
1             Yes                No             DSL            Yes  ...
2             Yes                No             DSL            Yes  ...
3              No  No phone service             DSL            Yes  ...
4             Yes                No     Fiber optic             No  ...
...           ...               ...             ...            ...  ...
7038          Yes               Yes             DSL            Yes  ...
7039          Yes               Yes     Fiber optic             No  ...
7040           No  No phone service             DSL            Yes  ...
7041          Yes               Yes     Fiber optic             No  ...
7042          Yes                No     Fiber optic            Yes  ...

     DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
0                  No          No          No              No  Month-to-month
1                 Yes          No          No              No        One year
2                  No          No          No              No  Month-to-month
3                 Yes         Yes          No              No        One year
4                  No          No          No              No  Month-to-month
...               ...         ...         ...             ...             ...
7038              Yes         Yes         Yes             Yes        One year
7039              Yes          No         Yes             Yes        One year
7040               No          No          No              No  Month-to-month
7041               No          No          No              No  Month-to-month
7042              Yes         Yes         Yes             Yes        Two year

     PaperlessBilling              PaymentMethod MonthlyCharges  TotalCharges  \
0                 Yes           Electronic check          29.85         29.85
1                  No               Mailed check          56.95        1889.5
2                 Yes               Mailed check          53.85        108.15
3                  No  Bank transfer (automatic)          42.30       1840.75
4                 Yes           Electronic check          70.70        151.65
...               ...                        ...            ...           ...
7038              Yes               Mailed check          84.80        1990.5
7039              Yes    Credit card (automatic)         103.20        7362.9
7040              Yes           Electronic check          29.60        346.45
7041              Yes               Mailed check          74.40         306.6
7042              Yes  Bank transfer (automatic)         105.65        6844.5

     Churn
0       No
1       No
2      Yes
3       No
4      Yes
...    ...
7038    No
7039    No
7040    No
7041   Yes
7042    No

[7043 rows x 21 columns]>

In [ ]:
df['Churn']=df['Churn'].map({'No':0, 'Yes':1})

In [ ]:
#convert categorical data into dummy variables
df = pd.get_dummies(df,drop_first=True)
df.head()

,SeniorCitizen,tenure,MonthlyCharges,Churn,customerID_0003-MKNFE,customerID_0004-TLHLJ,customerID_0011-IGKFF,customerID_0013-EXCHZ,customerID_0013-MHZWF,customerID_0013-SMEOE,...,TotalCharges_995.35,TotalCharges_996.45,TotalCharges_996.85,TotalCharges_996.95,TotalCharges_997.65,TotalCharges_997.75,TotalCharges_998.1,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9
0,0,1,29.85,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,34,56.95,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,2,53.85,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,45,42.30,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,2,70.70,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X = df.drop('Churn',axis='columns')
y = df['Churn']

In [ ]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(X,y,test_size=(0.25))
train_x.shape

(5282, 13601)

In [ ]:
test_x.shape

(1761, 13601)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
train_x_sc=sc.fit_transform(train_x)
test_x_sc=sc.fit_transform(test_x)
pd.DataFrame(train_x_sc).describe()

,0,1,2,3,4,5,6,7,8,9,...,13591,13592,13593,13594,13595,13596,13597,13598,13599,13600
count,5.282000e+03,5.282000e+03,5.282000e+03,5282.0,5.282000e+03,5.282000e+03,5.282000e+03,5282.0,5.282000e+03,5.282000e+03,...,5282.0,5282.0,5.282000e+03,5282.0,5.282000e+03,5.282000e+03,5.282000e+03,5282.0,5.282000e+03,5.282000e+03
mean,-2.446610e-16,-9.044471e-17,-1.375903e-16,0.0,-2.411404e-17,5.166619e-16,-2.411404e-17,0.0,4.588176e-16,-2.545925e-17,...,0.0,0.0,-2.545925e-17,0.0,7.305511e-16,5.794344e-17,-2.411404e-17,0.0,-2.411404e-17,-2.411404e-17
std,1.000095e+00,1.000095e+00,1.000095e+00,0.0,1.000095e+00,1.000095e+00,1.000095e+00,0.0,1.000095e+00,1.000095e+00,...,0.0,0.0,1.000095e+00,0.0,1.000095e+00,1.000095e+00,1.000095e+00,0.0,1.000095e+00,1.000095e+00
min,-4.342452e-01,-1.316618e+00,-1.544347e+00,0.0,-1.376074e-02,-1.376074e-02,-1.376074e-02,0.0,-1.376074e-02,-1.376074e-02,...,0.0,0.0,-1.376074e-02,0.0,-1.376074e-02,-1.376074e-02,-1.376074e-02,0.0,-1.376074e-02,-1.376074e-02
25%,-4.342452e-01,-9.498456e-01,-9.721446e-01,0.0,-1.376074e-02,-1.376074e-02,-1.376074e-02,0.0,-1.376074e-02,-1.376074e-02,...,0.0,0.0,-1.376074e-02,0.0,-1.376074e-02,-1.376074e-02,-1.376074e-02,0.0,-1.376074e-02,-1.376074e-02
50%,-4.342452e-01,-1.347950e-01,1.830400e-01,0.0,-1.376074e-02,-1.376074e-02,-1.376074e-02,0.0,-1.376074e-02,-1.376074e-02,...,0.0,0.0,-1.376074e-02,0.0,-1.376074e-02,-1.376074e-02,-1.376074e-02,0.0,-1.376074e-02,-1.376074e-02
75%,-4.342452e-01,9.247707e-01,8.273892e-01,0.0,-1.376074e-02,-1.376074e-02,-1.376074e-02,0.0,-1.376074e-02,-1.376074e-02,...,0.0,0.0,-1.376074e-02,0.0,-1.376074e-02,-1.376074e-02,-1.376074e-02,0.0,-1.376074e-02,-1.376074e-02
max,2.302847e+00,1.617564e+00,1.779401e+00,0.0,7.267049e+01,7.267049e+01,7.267049e+01,0.0,7.267049e+01,7.267049e+01,...,0.0,0.0,7.267049e+01,0.0,7.267049e+01,7.267049e+01,7.267049e+01,0.0,7.267049e+01,7.267049e+01

In [ ]:
from sklearn.linear_model import Perceptron
p=Perceptron()

p.fit(train_x_sc,train_y)

train_pred=p.predict(train_x_sc)
test_pred=p.predict(test_x_sc)

In [ ]:
from sklearn.metrics import accuracy_score
print('Training accuracy of Perceptron =',accuracy_score(train_y,train_pred))

Training accuracy of Perceptron = 1.0

In [ ]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
svc=SVC()
train_x_sc.shape

(5282, 13601)

In [ ]:
train_y.shape

(5282,)

In [ ]:
train_y.shape
svc.fit(train_x_sc,train_y)

SVC()

In [ ]:
train_pred_svc=svc.predict(train_x_sc)
test_pred_svc=svc.predict(test_x)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but SVC was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [ ]:
print("Training",accuracy_score(train_pred_svc,train_y))

Training 0.9992427110942824

In [ ]:
print("Test",accuracy_score(test_pred_svc,test_y))

Test 0.6859738784781374

In [ ]:
svc1=SVC(kernel="rbf",C=0.5)
svc1.fit(train_x_sc,train_y)
train_pred_svc1=svc1.predict(train_x_sc)
test_pred_svc1=svc1.predict(test_x
                            )

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but SVC was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [ ]:
print("Training",accuracy_score(train_pred_svc1,train_y))

Training 0.7338129496402878

In [ ]:
print("Test",accuracy_score(test_pred_svc1,test_y))

Test 0.7512776831345827

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=3)
knn.fit(train_x_sc,train_y)
train_pred_knn=knn.predict(train_x_sc)
test_pred_knn=knn.predict(test_x)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [ ]:
print("Training accuracy:",accuracy_score(train_pred_knn,train_y))
print("testing accuracy:",accuracy_score(test_pred_knn,test_y))

Training accuracy: 0.759182127981825
testing accuracy: 0.7370812038614424

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt.fit(train_x_sc,train_y)
train_pred_dt=dt.predict(train_x_sc)
test_pred_dt=dt.predict(test_x)
print("Training",accuracy_score(train_pred_dt,train_y))
print("testing",accuracy_score(test_pred_dt,test_y))
dt1=DecisionTreeClassifier(criterion='gini')
dt1.fit(train_x_sc,train_y)
train_pred_dt1=dt1.predict(train_x_sc)
test_pred_dt1=dt1.predict(test_x)
print("Training",accuracy_score(train_pred_dt1,train_y))
print("testing",accuracy_score(test_pred_dt1,test_y))

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

Training 1.0
testing 0.75809199318569

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

Training 1.0
testing 0.75809199318569

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(train_x_sc,train_y)
train_pred_rf=rf.predict(train_x_sc)
test_pred_rf=rf.predict(test_x)
print("Training",accuracy_score(train_pred_rf,train_y))
print("Testing",accuracy_score(test_pred_rf,test_y))

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

Training 1.0
Testing 0.740488358886996

In [ ]:
p=Perceptron()
svm=SVC()
knn=KNeighborsClassifier()

In [ ]:
 from sklearn.ensemble import VotingClassifier
vc=VotingClassifier(estimators=[('perceptron',p),('svm',svm),('knn',knn)],voting='hard', weights=[3,1,1])
vc.fit(train_x_sc,train_y)
train_pred_vc=vc.predict(train_x_sc)
test_pred_vc=vc.predict(test_x)
print("Training",accuracy_score(train_pred_vc,train_y))
print("Testing",accuracy_score(test_pred_vc,test_y))

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but Perceptron was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but SVC was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

Training 1.0
Testing 0.7938671209540034

In [ ]:
from sklearn.ensemble import BaggingClassifier
from sklearn.neighbors import KNeighborsClassifier as knn
bag=BaggingClassifier(base_estimator=KNeighborsClassifier,n_estimators=20)
bag.fit(train_x_sc,train_y)
train_pred_bag=bag.predict(train_x_sc)
test_pred_bag=bag.predict(test_x)
print("Training",accuracy_score(train_pred_bag,train_y))
print("Testing",accuracy_score(test_pred_bag,test_y))